
.btn {
				position:absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50, -50);
}

h2 {
  color: white;
  font-size: 200px;
  margin: 0px;
  text-align: center;
} 

p {
  color: #999999;
  background-color: white;
}

.container {
  width: 300px;
  height: 300px;
  border: 5px solid red;
  display: grid;
}

button {
  background-color: white;
  color: black;
  font-size: 25px;
  margin: auto;
} 

body {
  background-image: url("https://images.complex.com/complex/image/upload/c_crop,h_1105,w_1471,x_64,y_0/c_fill,dpr_auto,f_auto,q_auto,w_1400/fl_lossy,pg_1/vk1aazqk9wzvrnyqobht.jpg?fimg-client-default");
  background-color: #cccccc;
  background-size: 2400px;
 }
.btn {
				position:absolute;

  background-color: white;
}
h2 {
  color: white;
  font-size: 70px;
  margin: 0px;
  background-color: black;
  text-align: center;
}
  .list {
		font-size: 25px;
	}


/* {
  font-size: 25px;
  background color
background-size: 50px;
display: flex;
align-items: stretch;
justify-content: space-between;
width: 100%;
margin: 0;
padding: 0; */
/* } */
#menu li {
  display: inline;
}